// PRA-INKUBASI
@import "prainkubasi/prainkubasi-1";
@import "prainkubasi/prainkubasi-2";
@import "prainkubasi/toolbox";
@import "prainkubasi/cara-kerja";
@import "prainkubasi/dukungan-tambahan-pra";
@import "prainkubasi/pra-library";


// INKUBASI
@import "inkubasi/inkubasi-1";
@import "inkubasi/inkubasi-2";
@import "inkubasi/inkubasi-3";
@import "inkubasi/ditawarkan";
@import "inkubasi/cara-kerja";
@import "inkubasi/dukungan-tambahan-inkubasi";
@import "inkubasi/inkubasi-library";


// PASCA-INKUBASI
@import "pascainkubasi/pascainkubasi-1";
@import "pascainkubasi/pascainkubasi-2";
@import "pascainkubasi/pascainkubasi-3";
@import "pascainkubasi/pascainkubasi-4";
@import "pascainkubasi/pascainkubasi-5";
@import "pascainkubasi/dukungan-tambahan-pascainkubasi";
@import "pascainkubasi/pascainkubasi-library";

// DONASI
@import "donasi/campaign";
@import "donasi/campaign-all";
@import "donasi/detail-program";
