@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@800&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Poppins:wght@800&family=Roboto:wght@500&display=swap");
.navbar {
  /* background: rgb(76, 71, 76); */
  /* background: linear-gradient(90deg, rgba(76, 71, 76, 1) 0%, rgba(122, 99, 79, 1) 50%); */
  /* background: rgba(255, 255, 255, 0.1); */
  background-color: #80571A;
  min-height: 80px;
  z-index: 5;
  /* background: transparent; */
  /* backdrop-filter: blur(50px); */
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /* backdrop-filter: blur(4px) saturate(150%); */
}

.navbar img {
  padding-left: 60px;
  height: 40px;
}

.navbar .navbar-brand {
  padding-left: 10px;
  font-weight: 600;
  font-size: 20px;
}

.navbar .navbar-collapse {
  /* margin-left: 600px; */
  font-size: 20px;
}

.navbar .navbar-nav li {
  padding-right: 60px;
}

.navbar .nav-item a:hover {
  color: #BF8B2E !important;
}

.navbar .navbar-toggler {
  position: relative;
  z-index: 1;
  color: white !important;
  /* background-color: red; */
}

.carousel {
  height: 710px;
  width: 100%;
}

.carousel p {
  width: 498px;
  padding-bottom: 36px;
}

#carouselExampleCaptions {
  height: 100%;
  width: 100%;
}

#carouselExampleCaptions .carousel-caption {
  z-index: 1;
  top: 264px;
  bottom: 281px;
  left: 60px;
  right: 60px;
  text-align: left;
}

#carouselExampleCaptions .carousel-caption h5 {
  font-size: 48px;
  font-weight: 700;
  font-family: poppins;
  padding-bottom: 10px;
}

#carouselExampleCaptions .carousel-caption button {
  width: 177px;
  height: 52px;
  background-color: #BF8B2E;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-family: inter;
}

#carouselExampleCaptions .carousel-caption button:hover {
  background-color: #80571A;
}

#carouselExampleCaptions .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #E8E8E8;
}

#carouselExampleCaptions .carousel-indicators .active {
  width: 10px;
  height: 10px;
  background-color: #BF8B2E;
}

#carouselExampleCaptions .carousel-item {
  background: black;
}

#carouselExampleCaptions .carousel-item img {
  opacity: 0.5;
  width: 100%;
  height: 710px;
}

#visi {
  margin-bottom: 220px;
}

#visi #visi-konten .visi-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
  margin-top: 313px;
}

#visi #visi-konten .visi-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
  width: 650px;
  margin-top: 10px;
}

#visi #visi-konten .visi-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
  margin-top: 35px;
}

#visi img {
  margin-top: 220px;
}

@media only screen and (max-width: 992px) {
  #visi #visi-konten .visi-h1 {
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  #visi {
    margin-bottom: -100px;
  }
}

#program .program-h5 {
  margin-top: 215px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#program .program-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
  margin-top: 18px;
}

#program .card {
  padding: 41px 32px;
  width: 359px;
  height: 394px;
  border-color: white;
  margin-top: 150px;
  border-radius: 4px;
  background: #fff;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

#program .card .item .card-number {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #BF8B2E;
}

#program .card .item .card-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
  margin-top: 25px;
}

#program .card .item .card-end {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
  margin-top: 15px;
}

#program .card .item .btn-program {
  margin-top: 34px;
  width: 238px;
  height: 48px;
  left: 20px;
  top: 270px;
  background: #80571A;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FEFEFE;
  opacity: 0;
}

#program .card .item .btn-program:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#program .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: -24px 23px 74px rgba(191, 139, 46, 0.45);
          box-shadow: -24px 23px 74px rgba(191, 139, 46, 0.45);
  background: #BF8B2E;
  color: white;
}

#program .card:hover .item .card-number {
  background-color: white;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  margin: auto;
  padding: 6px 0;
}

#program .card:hover .item .card-title {
  color: #FEFEFE;
}

#program .card:hover .item .card-end {
  color: #FEFEFE;
}

#program .card:hover .item .btn-program {
  opacity: 1;
}

#program #under-program {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 250px;
}

#program #under-program .under-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
}

#program #under-program .under-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #7A7A7A;
}

#program #under-program:hover .under-h1 {
  color: #BF8B2E;
}

#program #under-program:hover .under-h5 {
  color: #BF8B2E;
}

@media only screen and (max-width: 992px) {
  #program #under-program {
    margin-bottom: -50px;
  }
}

#dokumentasi .dokumentasi-h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #BF8B2E;
}

#dokumentasi .dokumentasi-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
  width: 790px;
  margin-left: auto;
  margin-right: auto;
}

#dokumentasi .slider-dokumentasi {
  margin-bottom: 200px;
}

#dokumentasi .slider-dokumentasi .owl-dots {
  margin-top: 50px;
}

#dokumentasi .slider-dokumentasi .item {
  margin-top: 108px;
}

@media only screen and (max-width: 992px) {
  #dokumentasi {
    margin-top: 150px;
  }
}

#kolaborasi .kolaborasi-h5 {
  margin-top: 250px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#kolaborasi .kolaborasi-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
  width: 650px;
}

#kolaborasi .kolaborasi-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
}

#kolaborasi .item {
  width: 238px;
  margin-top: 397px;
}

#kolaborasi .item .partner-h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1D1819;
}

#kolaborasi .item .partner-h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
  margin-top: 12px;
}

#kolaborasi .item .btn-partner {
  width: 238px;
  height: 48px;
  left: 796px;
  top: 504px;
  background: #BF8B2E;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FEFEFE;
  margin-top: 25px;
}

#kolaborasi .item .btn-partner:hover {
  background-color: #80571A;
}

#kolaborasi .item .btn-partner:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 992px) {
  #kolaborasi .kolaborasi-h1 {
    width: auto;
  }
}

#bergabung .bergabung-h5 {
  margin-top: 220px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#bergabung .bergabung-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
  margin-bottom: 122px;
}

#bergabung .card {
  background: #fff;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  background: #FEFEFE;
  border: 2px solid #E8E8E8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 18px;
  height: 600px;
  width: 320px;
  margin-bottom: 50px;
}

#bergabung .card .item {
  padding: 50px 25px;
}

#bergabung .card .item .card-h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #3C3C3C;
  margin-bottom: 20px;
}

#bergabung .card .item .card-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
}

#bergabung .card .item .btn-bergabung {
  width: 205px;
  height: 58px;
  left: 48px;
  top: 282px;
  background: #80571A;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 74px;
  color: #FEFEFE;
  opacity: 0;
}

#bergabung .card .item .partner-kami {
  margin-top: 83px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #BCBCBC;
}

#bergabung .card:hover {
  background: #FEFEFE;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: -6px 15px 44px rgba(0, 0, 0, 0.2);
          box-shadow: -6px 15px 44px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
}

#bergabung .card:hover .card-h3 {
  color: #BF8B2E;
}

#bergabung .card:hover .btn-bergabung {
  opacity: 1;
}

#bergabung #konten-partner {
  padding-top: 200px;
  margin-bottom: 200px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #BCBCBC;
}

#review-ahli {
  margin-bottom: 500px;
}

#review-ahli .review-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#review-ahli .review-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
  margin-bottom: 150px;
  margin-top: 10px;
}

#review-ahli .slider-review .card {
  height: 300px;
  width: 386px;
  border: none;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

#review-ahli .slider-review .card .item {
  padding: 32px;
}

#review-ahli .slider-review .card .item .card-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
}

#review-ahli .slider-review .card .item .dt-nama {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #3C3C3C;
}

#review-ahli .slider-review .card .item .dt-job {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #7A7A7A;
}

#review-ahli .slider-review .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #FEFEFE;
  -webkit-box-shadow: -15px 23px 34px rgba(0, 0, 0, 0.06);
          box-shadow: -15px 23px 34px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-bottom: 20px;
}

#review-ahli .slider-review .card:hover .dt-nama {
  color: #BF8B2E;
}

#library .library-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#library .library-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
  margin-bottom: 150px;
}

#library .card {
  width: 322px;
  margin-bottom: 57px;
  background: #fff;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  background: #FEFEFE;
  border: 2px solid #E8E8E8;
  border-radius: 18px;
  margin-top: 20px;
}

#library .card .card-body .donasi-baru-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #3C3C3C;
}

#library .card .card-body .donasi-baru-h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: #7A7A7A;
}

#library .card .card-body .donasi-baru-h5 .link-selengkapnya {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #BF8B2E;
}

#library .card .card-body .donasi-baru-h5 .link-selengkapnya:hover {
  color: red;
}

#library .card .card-body .row {
  margin-top: 4px;
  margin-bottom: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #BCBCBC;
}

#library .card .card-body .btn-primary {
  width: 286px;
  height: 48px;
  left: 18px;
  top: 531px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
  margin-top: 45px;
  opacity: 0;
}

#library .card:hover {
  background: #FEFEFE;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: -6px 15px 44px rgba(0, 0, 0, 0.2);
          box-shadow: -6px 15px 44px rgba(0, 0, 0, 0.2);
}

#library .card:hover .btn-primary {
  opacity: 1;
}

#faq .faq-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
  margin-bottom: 10px;
  margin-top: 200px;
}

#faq .faq-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
}

#faq .accordion {
  width: 80%;
  padding-top: 115px;
  padding-bottom: 200px;
  border-radius: 100px;
}

#faq .accordion .accordion-item {
  margin-bottom: 24px;
}

#faq .accordion .accordion-item .accordion-button {
  padding: 40px 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #3C3C3C;
  /* background-color: #F4F2ED; */
  background-color: white;
  border: none;
}

#faq .accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: white;
  color: #BF8B2E;
}

#faq .accordion .accordion-item .accordion-collapse {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  /* color: #7A7A7A; */
  /* background-color: #F4F2ED; */
  background-color: white;
}

#faq .accordion .accordion-item .accordion-body {
  padding-left: 40px;
  padding-right: 64px;
  padding-bottom: 35px;
  background-color: white;
}

#donasi {
  width: 1321px;
  height: 417px;
  background-image: url("assets/images/desktop-donate-revisi-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  /* margin-top: 500px; */
  font-family: inter;
  color: #3C3C3C;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#donasi .card-body-donate {
  padding-top: 120px;
}

#donasi .card-body-donate p {
  font-family: Inter;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  padding-bottom: 20px;
  width: 544px;
  margin: auto;
}

#donasi .card-body-donate .btn-primary {
  background-color: #80571A;
  border-color: #BF8B2E;
  width: 282px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FEFEFE;
  height: 54px;
}

@media only screen and (max-width: 992px) {
  #donasi {
    width: auto;
  }
  #donasi .card-body-donate p {
    width: auto;
  }
}

#footer {
  background-color: #F4F2ED;
  padding-top: 100px;
}

#footer #about-company a {
  text-decoration: none;
}

#footer #about-company .img-fluid {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

#footer #about-company img {
  width: 45px;
  height: 58px;
  margin-bottom: 20px;
}

#footer #about-company p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #7A7A7A;
}

#footer #link-footer li {
  margin-bottom: 10px;
}

#footer #link-footer ul {
  list-style-type: none;
}

#footer #link-footer a {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #3C3C3C;
}

#footer #link-footer a:hover {
  color: #BF8B2E;
  font-weight: 600;
}

#footer #program-footer li {
  margin-bottom: 10px;
}

#footer #program-footer ul {
  list-style-type: none;
}

#footer #program-footer a {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #3C3C3C;
}

#footer #program-footer a:hover {
  color: #BF8B2E;
  font-weight: 600;
}

#footer .copyright {
  font-size: 12px;
  text-align: center;
  color: #BCBCBC;
}

#prainkubasi-1 {
  padding-top: 10%;
}

#prainkubasi-1 .prainkubasi1-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#prainkubasi-1 .prainkubasi1-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #3C3C3C;
}

#prainkubasi-1 .prainkubasi1-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
}

#prainkubasi-1 .btn-gabung {
  width: 214px;
  height: 70px;
  left: 59px;
  top: 562px;
  background: #BF8B2E;
  border-color: #BF8B2E;
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FEFEFE;
}

#prainkubasi-1 .konten-kiri {
  margin-top: 40px;
}

@media only screen and (max-width: 992px) {
  #prainkubasi-1 .konten-kiri {
    padding: 40px;
  }
}

#prainkubasi-2 {
  padding-top: 216px;
  padding-bottom: 216px;
}

#prainkubasi-2 .prainkubasi2-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#prainkubasi-2 .prainkubasi2-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #3C3C3C;
}

#prainkubasi-2 .prainkubasi2-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
}

@media only screen and (max-width: 992px) {
  #prainkubasi-2 img {
    padding-bottom: 100px;
    margin: auto;
  }
}

#toolbox .toolbox-h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

#toolbox .item-toolbox {
  padding-top: 130px;
  padding-bottom: 216px;
  width: 218px;
  margin: auto;
}

#toolbox .item-toolbox .toolbox-h5 {
  padding-top: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
}

#toolbox .item-toolbox .toolbox-p {
  padding-top: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #7A7A7A;
}

#toolbox .item-toolbox:hover .toolbox-1 {
  fill: #BF8B2E !important;
}

#toolbox .item-toolbox:hover .toolbox-h5 {
  color: #BF8B2E;
}

#toolbox .item-toolbox:hover .toolbox-p {
  color: #3C3C3C;
}

@media only screen and (max-width: 992px) {
  #toolbox .item-toolbox {
    margin-bottom: -200px;
  }
}

#cara-kerja {
  z-index: 0;
  padding-bottom: 200px;
}

#cara-kerja .cara-kerja-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #BF8B2E;
}

#cara-kerja .cara-kerja-h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
}

#cara-kerja .cara-kerja-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
}

@media only screen and (max-width: 992px) {
  #cara-kerja {
    margin-top: 100px;
  }
  #cara-kerja .accordion-prainkubasi {
    margin-top: 100px;
    padding: 40px;
  }
  #cara-kerja .kiri {
    padding: 40px;
  }
}

#dukungan-tambahan-pra .pra-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #BF8B2E;
  padding-bottom: 10px;
}

#dukungan-tambahan-pra .pra-h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #3C3C3C;
  padding-bottom: 35px;
}

#dukungan-tambahan-pra .pra-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #3C3C3C;
  max-width: 647px;
  margin: auto;
  padding-bottom: 144px;
}

#dukungan-tambahan-pra .item-dukungan-pra {
  margin: auto;
}

#dukungan-tambahan-pra .item-dukungan-pra .dukungan-p-1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3C3C3C;
  padding-top: 20px;
}

#dukungan-tambahan-pra .item-dukungan-pra .dukungan-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
  width: 311px;
}

#dukungan-tambahan-pra .item-dukungan-pra .btn-dukungan-pra {
  margin-top: 11px;
  padding: 15px 10px;
  width: 311px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
}

#dukungan-tambahan-pra .item-dukungan-pra .btn-dukungan-pra-2 {
  margin-top: 35px;
  padding: 15px 10px;
  width: 311px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
}

#dukungan-tambahan-pra .item-dukungan-pra .btn-dukungan-pra-3 {
  margin-top: 35px;
  padding: 15px 10px;
  width: 311px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
}

@media only screen and (max-width: 992px) {
  #dukungan-tambahan-pra .item-dukungan-pra {
    margin: 100px auto;
  }
  #dukungan-tambahan-pra .bewok {
    padding: 40px;
  }
  #dukungan-tambahan-pra .dukungan-p {
    width: auto !important;
  }
  #dukungan-tambahan-pra .item-dukungan-pra {
    text-align: center;
  }
}

#pra-library {
  padding: 146px 0;
}

#pra-library .pra-library-h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #000000;
  padding-bottom: 18px;
}

#pra-library .pra-library-p {
  width: 922px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin: auto;
  padding-bottom: 18px;
}

#pra-library .btn-library-pra {
  margin: auto;
  display: block;
  height: 41px;
  width: 175px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  background: #E4E4E4;
  border-color: #E4E4E4;
}

@media only screen and (max-width: 992px) {
  #pra-library .pra-library-p {
    width: auto;
  }
}

#inkubasi-1 {
  padding-top: 10%;
}

#inkubasi-1 .inkubasi1-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#inkubasi-1 .inkubasi1-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #3C3C3C;
}

#inkubasi-1 .inkubasi1-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
}

#inkubasi-1 .konten-kiri {
  margin-top: 40px;
}

@media only screen and (max-width: 992px) {
  #inkubasi-1 img {
    padding-top: 100px;
    margin: 0 auto;
  }
}

#inkubasi-2 {
  padding-top: 216px;
  padding-bottom: 216px;
}

#inkubasi-2 .inkubasi2-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#inkubasi-2 .inkubasi2-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #3C3C3C;
}

#inkubasi-2 .inkubasi2-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
}

@media only screen and (max-width: 992px) {
  #inkubasi-2 img {
    padding-bottom: 100px;
    margin: auto;
  }
}

#inkubasi-3 {
  padding-top: 10%;
  padding-bottom: 103px;
}

#inkubasi-3 .inkubasi3-h5 {
  padding-top: 200px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#inkubasi-3 .inkubasi3-p {
  padding-top: 35px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
}

#inkubasi-3 .btn-daftar {
  margin-top: 35px;
  width: 238px;
  height: 48px;
  left: 0px;
  top: 188px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #FEFEFE;
}

#inkubasi-3 .konten-kiri {
  margin-top: 40px;
}

@media only screen and (max-width: 992px) {
  #inkubasi-3 img {
    padding-top: 100px;
    margin: 0 auto;
  }
}

#ditawarkan {
  padding-top: 105px;
  padding-bottom: 300px;
}

#ditawarkan .ditawarkan-h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #000000;
}

#ditawarkan .ditawarkan-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #7A7A7A;
  margin: auto;
}

#ditawarkan .item-ditawarkan {
  padding-top: 100px;
}

#ditawarkan .item-ditawarkan .item-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
  padding-top: 20px;
}

#ditawarkan .item-ditawarkan .item-p {
  padding-top: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #7A7A7A;
}

#ditawarkan .item-ditawarkan:hover .item-h5 {
  color: #BF8B2E;
}

#ditawarkan .item-ditawarkan:hover .item-p {
  color: #3C3C3C;
}

#cara-kerja-inkubasi {
  padding-bottom: 200px;
  z-index: 0;
}

#cara-kerja-inkubasi .cara-kerja-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #BF8B2E;
}

#cara-kerja-inkubasi .cara-kerja-h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
}

#cara-kerja-inkubasi .cara-kerja-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
}

@media only screen and (max-width: 992px) {
  #cara-kerja-inkubasi {
    margin-top: 100px;
  }
  #cara-kerja-inkubasi .accordion-inkubasi {
    margin-top: 100px;
  }
}

#dukungan-tambahan-inkubasi .inkubasi-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #BF8B2E;
  padding-bottom: 10px;
}

#dukungan-tambahan-inkubasi .inkubasi-h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #3C3C3C;
  padding-bottom: 35px;
}

#dukungan-tambahan-inkubasi .inkubasi-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #3C3C3C;
  max-width: 647px;
  margin: auto;
  padding-bottom: 144px;
}

#dukungan-tambahan-inkubasi .item-dukungan-inkubasi {
  margin: auto;
}

#dukungan-tambahan-inkubasi .item-dukungan-inkubasi .dukungan-p-1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3C3C3C;
  padding-top: 20px;
}

#dukungan-tambahan-inkubasi .item-dukungan-inkubasi .dukungan-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
  width: 311px;
}

#dukungan-tambahan-inkubasi .item-dukungan-inkubasi .btn-dukungan-inkubasi {
  margin-top: 11px;
  padding: 15px 10px;
  width: 311px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
}

#dukungan-tambahan-inkubasi .item-dukungan-inkubasi .btn-dukungan-inkubasi-2 {
  margin-top: 11px;
  padding: 15px 10px;
  width: 311px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
}

#dukungan-tambahan-inkubasi .item-dukungan-inkubasi .btn-dukungan-inkubasi-3 {
  margin-top: 11px;
  padding: 15px 10px;
  width: 311px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
}

@media only screen and (max-width: 992px) {
  #dukungan-tambahan-inkubasi .item-dukungan-inkubasi {
    margin: 100px auto;
  }
}

#inkubasi-library {
  padding: 146px 0;
}

#inkubasi-library .inkubasi-library-h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #000000;
  padding-bottom: 18px;
}

#inkubasi-library .inkubasi-library-p {
  width: 922px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin: auto;
  padding-bottom: 18px;
}

#inkubasi-library .btn-library-inkubasi {
  margin: auto;
  display: block;
  height: 41px;
  width: 175px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  background: #E4E4E4;
  border-color: #E4E4E4;
}

@media only screen and (max-width: 992px) {
  #inkubasi-library .inkubasi-library-p {
    width: auto;
  }
}

#pascainkubasi-1 {
  padding-top: 10%;
}

#pascainkubasi-1 .pascainkubasi1-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#pascainkubasi-1 .pascainkubasi1-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #3C3C3C;
}

#pascainkubasi-1 .pascainkubasi1-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
}

#pascainkubasi-1 .konten-kiri {
  margin-top: 40px;
}

@media only screen and (max-width: 992px) {
  #pascainkubasi-1 img {
    padding-top: 100px;
    margin: 0 auto;
  }
}

#pascainkubasi-2 {
  padding-top: 20%;
}

#pascainkubasi-2 .pascainkubasi2-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#pascainkubasi-2 .pascainkubasi2-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #3C3C3C;
}

#pascainkubasi-2 .pascainkubasi2-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
}

@media only screen and (max-width: 992px) {
  #pascainkubasi-2 img {
    padding-bottom: 100px;
    margin: auto;
  }
}

#pascainkubasi-3 {
  padding-top: 20%;
}

#pascainkubasi-3 .pascainkubasi3-h5 {
  padding-top: 200px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #BF8B2E;
}

#pascainkubasi-3 .pascainkubasi3-p {
  padding-top: 35px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
}

#pascainkubasi-3 .btn-daftar {
  margin-top: 35px;
  width: 238px;
  height: 48px;
  left: 0px;
  top: 188px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #FEFEFE;
}

#pascainkubasi-3 .konten-kiri {
  margin-top: 40px;
}

#pascainkubasi-3 .konten-kanan img {
  margin-top: 150px;
}

@media only screen and (max-width: 992px) {
  #pascainkubasi-3 img {
    padding-top: 100px;
    margin: 0 auto;
  }
}

#pascainkubasi-4 {
  padding-top: 20%;
}

#pascainkubasi-4 .pascainkubasi-4-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #BF8B2E;
}

#pascainkubasi-4 .pascainkubasi-4-h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
}

#pascainkubasi-4 .pascainkubasi-4-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
}

@media only screen and (max-width: 992px) {
  #pascainkubasi-4 {
    margin-top: 100px;
  }
  #pascainkubasi-4 .accordion-pascainkubasi4 {
    margin-top: 100px;
  }
}

#pascainkubasi-5 {
  padding-top: 20%;
}

#pascainkubasi-5 .pascainkubasi-5-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #BF8B2E;
}

#pascainkubasi-5 .pascainkubasi-5-h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #1D1819;
}

#pascainkubasi-5 .pascainkubasi-5-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #3C3C3C;
}

@media only screen and (max-width: 992px) {
  #pascainkubasi-5 {
    margin-top: 100px;
  }
  #pascainkubasi-5 .accordion-pascainkubasi5 {
    margin-top: 100px;
  }
}

#dukungan-tambahan-pascainkubasi {
  padding-top: 20%;
}

#dukungan-tambahan-pascainkubasi .pascainkubasi-h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #BF8B2E;
  padding-bottom: 10px;
}

#dukungan-tambahan-pascainkubasi .pascainkubasi-h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #3C3C3C;
  padding-bottom: 35px;
}

#dukungan-tambahan-pascainkubasi .pascainkubasi-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #3C3C3C;
  max-width: 647px;
  margin: auto;
  padding-bottom: 144px;
}

#dukungan-tambahan-pascainkubasi .item-dukungan-pascainkubasi {
  margin: auto;
}

#dukungan-tambahan-pascainkubasi .item-dukungan-pascainkubasi .dukungan-p-1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3C3C3C;
  padding-top: 20px;
}

#dukungan-tambahan-pascainkubasi .item-dukungan-pascainkubasi .dukungan-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
  width: 311px;
}

#dukungan-tambahan-pascainkubasi .item-dukungan-pascainkubasi .btn-dukungan-inkubasi {
  margin-top: 11px;
  padding: 15px 10px;
  width: 311px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
}

#dukungan-tambahan-pascainkubasi .item-dukungan-pascainkubasi .btn-dukungan-inkubasi-2 {
  margin-top: 11px;
  padding: 15px 10px;
  width: 311px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
}

#dukungan-tambahan-pascainkubasi .item-dukungan-pascainkubasi .btn-dukungan-inkubasi-3 {
  margin-top: 11px;
  padding: 15px 10px;
  width: 311px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
}

@media only screen and (max-width: 992px) {
  #dukungan-tambahan-pascainkubasi .item-dukungan-pascainkubasi {
    margin: 100px auto;
  }
}

#pascainkubasi-library {
  padding: 300px 0;
}

#pascainkubasi-library .pascainkubasi-library-h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #000000;
  padding-bottom: 18px;
}

#pascainkubasi-library .pascainkubasi-library-p {
  width: 922px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #7A7A7A;
  margin: auto;
  padding-bottom: 18px;
}

#pascainkubasi-library .btn-library-pascainkubasi {
  margin: auto;
  display: block;
  height: 41px;
  width: 250px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  background: #E4E4E4;
  border-color: #E4E4E4;
}

@media only screen and (max-width: 992px) {
  #pascainkubasi-library .pascainkubasi-library-p {
    width: auto;
  }
}

#campaign {
  height: 1000px;
}

#campaign .title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  font-family: 'Poppins';
  font-weight: 700;
}

#campaign .card {
  height: 602px;
  width: 322px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#campaign .card .card-title {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
}

#campaign .card .card-text {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: normal;
  color: #7A7A7A;
}

#campaign .card .card-text .card-text-bottom {
  font-size: 12px;
  font-weight: 600;
}

#campaign .card .card-text-donasi {
  font-size: 12px;
  font-family: 'Poppins';
}

#campaign .card .sisa {
  padding-top: 4px;
}

#campaign .card .sisa .card-text-tenggat {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #E36863;
  padding-left: 35px;
}

#campaign .card .sisa .card-text-jumlah {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #BF8B2E;
}

#campaign .card .span-donasi {
  font-size: 14px;
  color: #BF8B2E;
  font-weight: 600;
}

#campaign .card .btn {
  background-color: #BF8B2E;
  color: white;
  width: 262px;
  height: 48px;
}

#campaign .card .card-img-top {
  border-radius: 10px;
  height: 200px;
  width: 100%;
}

#campaign .link-selengkapnya {
  color: #BF8B2E;
  text-decoration: none;
}

#campaign .link-selengkapnya:hover {
  color: #70571A;
}

#campaign .progress .progress-bar {
  background-color: #BF8B2E;
}

#campaign .btn-bawah {
  margin-top: 57px;
  border-radius: 10px;
  height: 48px;
  width: 700px;
  background-color: #BF8B2E;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: #BF8B2E;
}

@media only screen and (max-width: 992px) {
  #campaign .btn-bawah {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

#campaign-all {
  height: 1684px;
}

#campaign-all .title {
  text-align: center;
  padding-top: 180px;
  padding-bottom: 100px;
  font-family: 'Poppins';
  font-weight: 700;
}

#campaign-all .card {
  height: 602px;
  width: 322px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#campaign-all .card .card-title {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
}

#campaign-all .card .card-text {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: normal;
  color: #7A7A7A;
}

#campaign-all .card .card-text .card-text-bottom {
  font-size: 12px;
  font-weight: 600;
}

#campaign-all .card .btn {
  background-color: #BF8B2E;
  color: white;
  width: 262px;
  height: 48px;
}

#campaign-all .card .card-img-top {
  border-radius: 10px;
  height: 200px;
  width: 100%;
}

#campaign-all .card .sisa {
  padding-top: 4px;
}

#campaign-all .card .sisa .card-text-tenggat {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #E36863;
  padding-left: 35px;
}

#campaign-all .card .sisa .card-text-jumlah {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #BF8B2E;
}

#campaign-all .card .card-text-donasi {
  font-size: 12px;
  font-family: 'Poppins';
}

#campaign-all .card .span-donasi {
  font-size: 14px;
  color: #BF8B2E;
  font-weight: 600;
}

#campaign-all .card .progress .progress-bar {
  background-color: #BF8B2E;
}

#campaign-all .card .link-selengkapnya {
  color: #BF8B2E;
  text-decoration: none;
}

#campaign-all .card .link-selengkapnya:hover {
  color: #70571A;
}

@media only screen and (max-width: 992px) {
  #campaign-all {
    height: auto;
  }
  #campaign-all .card-deck {
    padding-bottom: 50px;
  }
}

#detail {
  height: 1275px;
}

#detail .title {
  padding-top: 139px;
  padding-bottom: 73px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  text-align: center;
}

#detail .card {
  margin-top: 80px;
  margin-bottom: 50px;
}

#detail .card .text-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #3C3C3C;
  padding-bottom: 15px;
}

#detail .card .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #7A7A7A;
}

#detail .card .span-donasi {
  font-size: 14px;
  color: #BF8B2E;
  font-weight: 600;
}

#detail .card .card-text-donasi {
  font-size: 12px;
  font-family: 'Poppins';
}

#detail .card .progress .progress-bar {
  background-color: #BF8B2E;
}

#detail .card .kanan {
  margin-left: 110px;
  margin-top: auto;
  margin-bottom: auto;
}

#detail .card .text-sisa {
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #BF8B2E;
  padding-top: 10px;
}

#detail .card .text-tenggat {
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-left: 90px;
  padding-top: 10px;
}

#detail .card .btn-skrng {
  background-color: #BF8B2E;
  width: 376px;
  height: 54px;
  border: #BF8B2E;
  color: white;
  border-radius: 5px;
}

#detail .detail-program-kedua {
  margin-top: 78px;
}

#detail .detail-program-kedua .title-bawah {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #3C3C3C;
}

#detail .detail-program-kedua .p-bawah {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
}

#detail .detail-program-kedua .item .card-body .h5-donatur {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

#detail .detail-program-kedua .item .card-body .nama {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #3C3C3C;
}

#detail .detail-program-kedua .item .card-body .donasi {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #7A7A7A;
}

#identitas-donasi {
  padding-top: 135px;
  padding-bottom: 250px;
}

#identitas-donasi .konten-kiri .identitas-p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #BCBCBC;
}

#identitas-donasi .konten-kiri .identitas-h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3C3C3C;
}

#identitas-donasi .konten-kiri .form-identitas .form-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  color: #BF9D60;
}

#identitas-donasi .konten-kiri .form-identitas .form-control {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
}

#identitas-donasi .konten-kiri .btn-primary {
  margin-top: 55px;
  width: 415px;
  height: 54px;
  left: 100px;
  top: 539px;
  background: #BF8B2E;
  border-color: #BF8B2E;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FEFEFE;
}

@media only screen and (max-width: 768px) {
  #identitas-donasi .btn-primary {
    width: auto;
  }
}

#nominal-donasi {
  padding-top: 135px;
  padding-bottom: 250px;
}

#nominal-donasi .konten-kiri .donasi-p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #BCBCBC;
}

#nominal-donasi .konten-kiri .donasi-h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3C3C3C;
  margin-bottom: 30px;
}

#nominal-donasi .konten-kiri .btn-primary {
  margin-top: 55px;
  width: 415px;
  height: 54px;
  left: 100px;
  top: 539px;
  background: #BF8B2E;
  border-color: #BF8B2E;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FEFEFE;
}

#nominal-donasi .konten-kiri .form-check {
  margin-bottom: 12px;
}

#nominal-donasi .konten-kiri .form-check .form-check-input {
  border-color: #BF8B2E;
}

@media only screen and (max-width: 768px) {
  #nominal-donasi .btn-primary {
    width: auto;
  }
}

#konfirmasi-donasi {
  padding-top: 135px;
  padding-bottom: 250px;
}

#konfirmasi-donasi .konten-kiri .konfirmasi-donasi-p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #BCBCBC;
}

#konfirmasi-donasi .konten-kiri .konfirmasi-donasi-h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3C3C3C;
  margin-bottom: 30px;
}

#konfirmasi-donasi .konten-kiri .form-identitas .form-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  color: #BF9D60;
}

#konfirmasi-donasi .konten-kiri .form-identitas .form-control {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
}

#konfirmasi-donasi .konten-kiri .form-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  color: #BF9D60;
}

#konfirmasi-donasi .konten-kiri .btn-primary {
  margin-top: 55px;
  width: 415px;
  height: 54px;
  left: 100px;
  top: 539px;
  background: #BF8B2E;
  border-color: #BF8B2E;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FEFEFE;
}

@media only screen and (max-width: 768px) {
  #konfirmasi-donasi .btn-primary {
    width: auto;
  }
}

#proses-pembayaran {
  padding-top: 214px;
}

#proses-pembayaran .proses-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #000000;
}

#proses-pembayaran .proses-h2 {
  padding-top: 102px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 81px;
}

#proses-pembayaran .btn {
  width: 238px;
  height: 48px;
  left: 601px;
  top: 547px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
  margin-bottom: 222px;
}

#donasi-baru {
  padding-top: 150px;
}

#donasi-baru .donasi-baru-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #000000;
  margin-bottom: 95px;
}

#donasi-baru .card {
  border-radius: 18px;
  background: #FEFEFE;
  width: 322px;
  margin-bottom: 57px;
}

#donasi-baru .card .card-body .donasi-baru-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #3C3C3C;
}

#donasi-baru .card .card-body .donasi-baru-h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: #7A7A7A;
}

#donasi-baru .card .card-body .donasi-baru-h5 .link-selengkapnya {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #BF8B2E;
}

#donasi-baru .card .card-body .donasi-baru-h5 .link-selengkapnya:hover {
  color: red;
}

#donasi-baru .card .card-body .donasi-baru-p {
  margin-top: 23px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
  color: #7A7A7A;
}

#donasi-baru .card .card-body .donasi-baru-p .donasi-baru-span {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #BF8B2E;
}

#donasi-baru .card .card-body .progress-bar {
  background-color: #BF8B2E;
}

#donasi-baru .card .card-body .row {
  margin-top: 4px;
}

#donasi-baru .card .card-body .row #total-donasi {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #BF8B2E;
}

#donasi-baru .card .card-body .row #tutup-donasi {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
  color: #E36863;
}

#donasi-baru .card .card-body .btn-primary {
  width: 286px;
  height: 48px;
  left: 18px;
  top: 531px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
  margin-top: 45px;
}

#donasi-baru .btn-lihat {
  width: 700px;
  height: 48px;
  left: 370px;
  top: 854px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
  margin-bottom: 98px;
}

@media only screen and (max-width: 768px) {
  #donasi-baru .btn-lihat {
    width: auto;
  }
}

#detail-program-baru {
  padding-top: 150px;
}

#detail-program-baru .detail-program-baru-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  margin-bottom: 73px;
}

#detail-program-baru .card {
  width: 416px;
  border-color: white;
  margin-top: 50px;
}

#detail-program-baru .card .card-body .detail-program-baru-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #3C3C3C;
}

#detail-program-baru .card .card-body .detail-program-baru-h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #7A7A7A;
}

#detail-program-baru .card .card-body .detail-program-baru-p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: #000000;
}

#detail-program-baru .card .card-body .detail-program-baru-p .donasi-baru-span {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #BF8B2E;
}

#detail-program-baru .card .card-body .progress-bar {
  background-color: #BF8B2E;
}

#detail-program-baru .card .card-body .row {
  margin-top: 10px;
}

#detail-program-baru .card .card-body .row #total-donasi {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #BF8B2E;
}

#detail-program-baru .card .card-body .row #total-donasi .total-donasi {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: #000000;
}

#detail-program-baru .card .card-body .row #tutup-donasi {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  color: #000000;
}

#detail-program-baru .card .card-body .btn-donasi {
  margin-top: 14px;
  width: 376px;
  height: 54px;
  left: 20px;
  top: 257px;
  background: #BF8B2E;
  border-radius: 5px;
  border-color: #BF8B2E;
}

#detail-program-baru #konten-bawah {
  margin-top: 78px;
}

#detail-program-baru #konten-bawah .title-bawah {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #3C3C3C;
}

#detail-program-baru #konten-bawah .p-bawah {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #7A7A7A;
  margin-bottom: 100px;
}

#detail-program-baru #konten-bawah .item {
  margin-bottom: 100px;
}

#detail-program-baru #konten-bawah .item .card-body .h5-donatur {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

#detail-program-baru #konten-bawah .item .card-body .nama {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #3C3C3C;
}

#detail-program-baru #konten-bawah .item .card-body .donasi {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #7A7A7A;
}

@media only screen and (max-width: 992px) {
  #detail-program-baru .item {
    text-align: center;
  }
  #detail-program-baru .btn-donasi {
    width: auto;
  }
}

#metode-pembayaran {
  padding-top: 135px;
  padding-bottom: 250px;
}

#metode-pembayaran .konten-kiri .donasi-p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #BCBCBC;
}

#metode-pembayaran .konten-kiri .donasi-h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3C3C3C;
  margin-bottom: 30px;
}

#metode-pembayaran .konten-kiri .accordion-metode-pembayaran .accordion-button {
  font-size: 12px;
}

#metode-pembayaran .konten-kiri .accordion-metode-pembayaran .form-metode-pembayaran .form-label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  padding-top: 10px;
}

#metode-pembayaran .konten-kiri .accordion-metode-pembayaran .form-metode-pembayaran .form-gambar {
  float: right;
}

#metode-pembayaran .konten-kiri .accordion-metode-pembayaran .form-metode-pembayaran .form-control {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #7A7A7A;
}

#metode-pembayaran .konten-kiri .accordion-metode-pembayaran .form-metode-pembayaran .no-va {
  padding-top: 12px;
  font-size: 18px;
}

#metode-pembayaran .konten-kiri .accordion-metode-pembayaran .form-metode-pembayaran .no-rek {
  padding-top: 12px;
  font-size: 18px;
}

#metode-pembayaran .konten-kiri .btn-primary {
  margin-top: 10px;
  width: 415px;
  height: 54px;
  left: 100px;
  top: 539px;
  background: #BF8B2E;
  border-color: #BF8B2E;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FEFEFE;
}

@media only screen and (max-width: 768px) {
  #metode-pembayaran .btn-primary {
    width: auto;
  }
}
/*# sourceMappingURL=main.css.map */