#dioolalibrary {
    padding: 7% 15%;

    h5 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #000000;
    }

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000000;
    }

    button {
        width: 175px;
        height: 41px;
        left: 633px;
        top: 3835px;
        background: #E4E4E4;
        margin-left: 429px;
        color: #000000;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        border-color: #E4E4E4;
    }
}