#inkubasi-library {
    padding: 146px 0;

    .inkubasi-library-h5 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #000000;
        padding-bottom: 18px;
    }

    .inkubasi-library-p {
        width: 922px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000000;
        margin: auto;
        padding-bottom: 18px;
    }

    .btn-library-inkubasi {
        margin: auto;
        display: block;
        height: 41px;
        width: 175px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #000000;
        background: #E4E4E4;
        border-color: #E4E4E4;
    }
}