#inkubasi-2 {
    padding-top: 216px;
    padding-bottom: 216px;

    .inkubasi2-h5 {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #BF8B2E;
    }

    .inkubasi2-h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        color: #3C3C3C;
    }

    .inkubasi2-p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #7A7A7A;
    }

    @media only screen and (max-width: 992px) {
        img {
            padding-bottom: 100px;
            margin: auto;
        }
    }
}