#cara-kerja {
    z-index: 0;
    padding-bottom: 200px;

    .cara-kerja-h5 {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #BF8B2E;
    }

    .cara-kerja-h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        color: #1D1819;
    }

    .cara-kerja-p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #3C3C3C;
    }

    @media only screen and (max-width: 992px) {
        margin-top: 100px;

        .accordion-prainkubasi {
            margin-top: 100px;
        }
    }
}