#prainkubasi-1 {
    padding-top: 10%;

    .prainkubasi1-h5 {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #BF8B2E;
    }

    .prainkubasi1-h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        color: #3C3C3C;
    }

    .prainkubasi1-p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #3C3C3C;
    }

    .btn-gabung {
        width: 214px;
        height: 70px;
        left: 59px;
        top: 562px;
        background: #BF8B2E;
        border-color: #BF8B2E;
        border-radius: 10px;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #FEFEFE;
    }

    .konten-kiri {
        margin-top: 40px;
    }

    @media only screen and (max-width: 992px) {
        img {
            padding-top: 100px;
            margin: 0 auto;
        }
    }


}