#prainkubasi {
    padding: 10% 60px;

    .prainkubasi-h5 {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #BF8B2E;
    }

    .prainkubasi-h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        color: #3C3C3C;
    }

    .prainkubasi-p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #3C3C3C;
        padding-top: 35px;
    }

    button {
        width: 214px;
        height: 70px;
        left: 59px;
        top: 562px;
        background: #BF8B2E;
        border-radius: 10px;
        border-color: #BF8B2E;
        margin-top: 45px;
    }

    img {
        width: 80%;
    }
}