#program {
    .program-h5 {
        margin-top: 215px;
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #BF8B2E;
    }

    .program-h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        color: #1D1819;
        margin-top: 18px;
    }

    .card {
        padding: 41px 32px;
        width: 359px;
        height: 394px;
        border-color: white;
        margin-top: 150px;
        border-radius: 4px;
        background: #fff;
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12),
            .3s box-shadow,
            .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);

        .item {

            .card-number {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                color: #BF8B2E;
            }

            .card-title {
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #BF8B2E;
                margin-top: 25px;
            }

            .card-end {
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #7A7A7A;
                margin-top: 15px;
            }

            .btn-program {
                margin-top: 34px;
                width: 238px;
                height: 48px;
                left: 20px;
                top: 270px;
                background: #80571A;
                border-radius: 5px;
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #FEFEFE;
                opacity: 0;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: -24px 23px 74px rgba(191, 139, 46, 0.45);
            background: #BF8B2E;
            color: white;

            .item {

                .card-number {
                    background-color: white;
                    border-radius: 100%;
                    height: 45px;
                    width: 45px;
                    margin: auto;
                    padding: 6px 0;
                }

                .card-title {
                    color: #FEFEFE;
                }

                .card-end {
                    color: #FEFEFE;
                }

                .btn-program {

                    opacity: 1;
                }
            }
        }

    }

    #under-program {
        margin-top: 200px;
        margin-bottom: 200px;
        width: 250px;

        .under-h1 {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 54px;
            color: #1D1819;

        }

        .under-h5 {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #7A7A7A;
        }

        &:hover {
            .under-h1 {
                color: #BF8B2E;
            }

            .under-h5 {
                color: #BF8B2E;
            }
        }
    }

    @media only screen and (max-width: 992px) {
        #under-program {
            margin-bottom: -50px;
        }
    }
}