#detail{
    height: 1275px;

    .title{
    padding-top: 139px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    text-align: center;
    }

    
}