#detail{
    height: 1275px;

    .title{
    padding-top: 139px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    text-align: center;

    }

    .text-title{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #3C3C3C;
        padding-bottom: 15px;
    }

    .text{  
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #7A7A7A;
    }

    .span-donasi{
        font-size: 14px;
        color: #BF8B2E;
        font-weight: 600;
    }

    .card-text-donasi{
        font-size: 12px;
        font-family: 'Poppins';
    }

    .progress{
        .progress-bar{
            background-color: #BF8B2E;
        }
    }

    .kanan{
        margin-left: 110px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .text-sisa{
        font-family: Inter;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        color: #BF8B2E;
        padding-top: 10px;

    }

    .text-tenggat{
        font-family: Inter;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        margin-left: 90px;
        padding-top: 10px;

    }

    .btn-skrng{
        background-color: #BF8B2E;
        width: 376px;
        height: 54px;
        border: #BF8B2E;
        color: white;
        border-radius: 5px;
    }
}