#metode-pembayaran {
    padding-top: 135px;
    padding-bottom: 250px;

    .konten-kiri {
        .donasi-p {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: #BCBCBC;
        }

        .donasi-h4 {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #3C3C3C;
            margin-bottom: 30px;
        }

        .accordion-metode-pembayaran {

            .accordion-button {
                font-size: 12px;
            }

            .form-metode-pembayaran {

                .form-label {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    color: #000;
                    padding-top: 10px;
                    // padding-bottom: 10px;
                }

                .form-gambar {
                    float: right;
                }

                .form-control {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    color: #7A7A7A;
                }

                .no-va{
                    padding-top: 12px;
                    font-size: 18px;
                }

                .no-rek{
                    padding-top: 12px;
                    font-size: 18px;
                }

            }

        }

        .btn-primary {
            margin-top: 10px;
            width: 415px;
            height: 54px;
            left: 100px;
            top: 539px;
            background: #BF8B2E;
            border-color: #BF8B2E;
            border-radius: 5px;
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #FEFEFE;
        }

    }

    @media only screen and (max-width: 768px) {
        .btn-primary {
            width: auto;
        }
    }
}