#proses-pembayaran {
    padding-top: 214px;

    .proses-h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        color: #000000;
    }

    .proses-h2 {
        padding-top: 102px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #000000;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 81px;
    }

    .btn {
        width: 238px;
        height: 48px;
        left: 601px;
        top: 547px;
        background: #BF8B2E;
        border-radius: 5px;
        border-color: #BF8B2E;
        margin-bottom: 222px;
    }
}