#pascainkubasi-library {
    padding: 300px 0;

    .pascainkubasi-library-h5 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #000000;
        padding-bottom: 18px;
    }

    .pascainkubasi-library-p {
        width: 922px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #7A7A7A;
        margin: auto;
        padding-bottom: 18px;
    }

    .btn-library-pascainkubasi {
        margin: auto;
        display: block;
        height: 41px;
        width: 250px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #000000;
        background: #E4E4E4;
        border-color: #E4E4E4;
    }
}